@use '/src/styles/utils/mixins' as *;
@use'/src/styles/utils/variables' as *;


.counter {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 10rem;
    background-color: $transparent;
    border-radius: 50%;
    box-shadow: 0px -10px 022px 1px $green-light inset;
    margin-bottom: 6rem;


    h2 {
        font-size: 5rem;
        font-weight: bold;
        color: $green-light;
        border: 1px solid $green-light;
        padding: 1rem 2rem;
        border-radius: 0.5rem;
        background-color: $black;
        font-family: 'Digital', serif;
    }


}