@use '/src/styles/utils/mixins' as *;
@use'/src/styles/utils/variables' as *;

.cuentaPalabras {
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2em;
    text-align: center;
    justify-items: center;
    justify-content: center;
    border-radius: 2em;
    margin: 6em auto;
    padding: 1em 1em 5em 1em;
    background-color: transparent;
    box-shadow: 0px -10px 022px 1px $green-light inset;
    border-radius: .6em;

    .textarea {
        width: 100%;
        height: 100%;
        background-color: $transparent;
        border: 1px solid $green-light;
        outline: none;
        color: $green-light;
        font-size: 1.5em;
    }

    .texto {
        color: $green-light;
    }
}