@use '/src/styles/utils/mixins' as *;
@use'/src/styles/utils/variables' as *;



.filtro {
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 2em;
    width: 40rem;
    height: auto;
    margin: 3em auto;
    padding: 5em;
    background-color: $transparent;
    box-shadow: 0px -10px 022px 1px $green-light inset;
    border-radius: .6em;

    .area {
        color: $white;
        font-size: 1.5rem;
        font-weight: bold;
        margin-bottom: 2em;
        justify-content: center;
        align-items: center;
        text-align: center;
        display: flex;
        flex-direction: column;

        .filter-input {
            width: 15rem;
            height: 2rem;
            color: $black;
            font-size: 1rem;
            text-align: center;
            border-radius: .3em;
            background-color: $transparent;
            border: 1px solid $green-light;
            outline: none;
            color: $green-light;

            &::placeholder {
                color: $white;
            }

            &:focus {
                box-shadow: 0px -10px 022px 1px $green-light inset;
            }
        }

        .lista {
            display: flex;
            flex-direction: column;
            padding: 0;

            .li-elements {
                margin-bottom: 1em;
                display: flex;
                justify-content: center;
                font-size: 1rem;
                color: $white;
                background-color: $transparent;
                box-shadow: 0px -10px 022px 1px $green-light inset;
                padding: 1rem 2rem;
                border-radius: 0.5rem;
                text-decoration: none;
                transition: background-color 0.3s ease;
            }
        }
    }
}