@use '/src/styles/utils/mixins' as *;
@use '/src/styles/utils/variables' as *;



.navigation-menu {
    margin: 0 auto;
    padding: 1rem;
    width: 50rem;

    .ol-links {

        li {
            margin-bottom: 1.5rem;
            font-size: 2.5rem;
            font-weight: bold;
            color: $white;
            text-shadow: 1px 1px 2px $black;
        }
    }

    .links {
        margin-bottom: 1em;
        display: flex;
        justify-content: center;
        font-size: 2rem;
        color: $white;
        background-color: $transparent;
        box-shadow: 0px -10px 022px 1px $green-light inset;
        padding: 1rem 2rem;
        border-radius: 0.5rem;
        text-decoration: none;
        transition: background-color 0.3s ease;

        &:hover {
            background-color: $green-light;
            box-shadow: 0px -10px 022px 1px $black inset;
        }
    }
}