@use '/src/styles/utils/mixins' as *;
@use '/src/styles/utils/variables' as *;

body {
    height: 100dvh;
}

.swich-color {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 10rem;
    background-color: $transparent;
    border-radius: 50%;
    box-shadow: 0px -10px 022px 1px $green-light inset;
    margin: 6rem auto;
}